<div class="px-6 mx-auto mt-20 max-w-4xl sm:mt-40 lg:px-8">
  <div class="relative py-16 px-4 -mx-2 rounded-3xl border sm:py-20 sm:px-8 lg:py-24 lg:px-16 animate-children bg-saints-50 border-saints-900/20 dark:bg-saints-950/20 dark:border-saints-800/30">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 class="text-4xl font-semibold tracking-tight sm:text-5xl child ![--delay:0.1s] dark:text-white font-display text-pretty text-stone-900">About Us</h2>
    <div class="flex flex-col gap-x-8 gap-y-20 mt-6 lg:flex-row">
      <div class="lg:flex-auto lg:w-full lg:max-w-2xl child ![--delay:0.15s]">
        <p class="text-xl/8 text-stone-600 dark:text-stone-300">Our church started in the fall of 2022 when a few families realized that their friendship was meant for more than just us. We started meeting weekly in a home and our kids quickly outgrew the 2 bedrooms they were sharing.</p>
        <p class="mt-10 max-w-xl text-base/7 text-stone-700 child ![--delay:0.2s] dark:text-stone-400">We thought and prayed about doing the home church thing and starting another house church, but we felt like the community of people that God was leading us to was not ready for that kind of split. So one of our elders opened up his business office for us to meet in. We still meet there weekly, and guess what? There's room for you.</p>
        
        <div class="mt-10">
          <h3 class="text-2xl font-semibold tracking-tight dark:text-white font-display child ![--delay:0.25s] text-stone-900">Family Church</h3>
          <p class="mt-4 text-base/7 text-stone-700 child ![--delay:0.3s] dark:text-stone-400">In family church we gather all of our church together to review our weekly catechism, a teaching on that catechism at an age appropriate level, then spend some time worshipping all together as a community.</p>
          <p class="mt-4 text-base/7 text-stone-700 child ![--delay:0.4s] dark:text-stone-400">Our Sunday children's program is for babies to about 10. We believe that our children can handle "adult church" and we encourage you as a parent to make the decision when your child is ready to sit in service with you.</p>
        </div>
      </div>
 
    </div>
    </div>
  </div>
</div>