<div class="mx-auto mt-20 max-w-5xl px-6 sm:mt-32 lg:px-8">
  <div class="relative -mx-2 h-full w-full animate-children rounded-3xl bg-white px-4 py-16 shadow-[0px_0px_0px_1px_rgba(9,9,11,0.07),0px_2px_2px_0px_rgba(9,9,11,0.05)] sm:px-8 sm:py-20 lg:px-16 lg:py-24 dark:bg-stone-900 dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)] dark:before:pointer-events-none dark:before:absolute dark:before:-inset-px dark:before:rounded-3xl dark:before:shadow-[0px_2px_8px_0px_rgba(0,0,0,0.20),0px_1px_0px_0px_rgba(255,255,255,0.06)_inset]">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 id="about-heading" class="child font-display text-4xl font-semibold tracking-tight text-pretty text-stone-900 ![--delay:0.1s] sm:text-5xl dark:text-white">{{ site.data.content.about_us.title }}</h2>
    <div class="mt-6 flex flex-col">
      <div class="child ![--delay:0.15s]">
        <p class="text-lg text-stone-600 sm:text-xl/8 dark:text-stone-300">{{ site.data.content.about_us.story }}</p>
        <p class="child mt-8 text-sm text-stone-700 ![--delay:0.2s] sm:text-base/7 dark:text-stone-400">{{ site.data.content.about_us.growth }}</p>

        <div class="mt-8 border-t border-stone-200 pt-8 dark:border-stone-700">
          <h3 class="child font-display text-2xl font-semibold tracking-tight text-stone-900 ![--delay:0.25s] dark:text-white">{{ site.data.content.about_us.family_church.title }}</h3>
          <p class="child mt-4 text-base/7 text-stone-700 ![--delay:0.3s] dark:text-stone-400">{{ site.data.content.about_us.family_church.description }}</p>
          <p class="child mt-4 text-base/7 text-stone-700 ![--delay:0.4s] dark:text-stone-400">{{ site.data.content.about_us.family_church.children }}</p>
        </div>
      </div>
 
    </div>
    </div>
  </div>
</div>