<div class="px-6 mx-auto mt-20 max-w-4xl sm:mt-40 lg:px-8">
  <div class="relative py-16 px-4 -mx-2 rounded-3xl border sm:py-20 sm:px-8 lg:py-24 lg:px-16 animate-children bg-saints-50 border-saints-900/20 dark:bg-saints-950/20 dark:border-saints-800/30">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 class="text-4xl font-semibold tracking-tight sm:text-5xl child ![--delay:0.1s] dark:text-white font-display text-pretty text-stone-900">{{ site.data.content.about_us.title }}</h2>
    <div class="flex flex-col gap-y-20 mt-6">
      <div class="child ![--delay:0.15s]">
        <p class="text-lg text-stone-600 sm:text-xl/8 dark:text-stone-300">{{ site.data.content.about_us.story }}</p>
        <p class="mt-10 text-sm text-stone-700 sm:text-base/7 child ![--delay:0.2s] dark:text-stone-400">{{ site.data.content.about_us.growth }}</p>

        <div class="mt-10">
          <h3 class="text-2xl font-semibold tracking-tight dark:text-white font-display child ![--delay:0.25s] text-stone-900">{{ site.data.content.about_us.family_church.title }}</h3>
          <p class="mt-4 text-base/7 text-stone-700 child ![--delay:0.3s] dark:text-stone-400">{{ site.data.content.about_us.family_church.description }}</p>
          <p class="mt-4 text-base/7 text-stone-700 child ![--delay:0.4s] dark:text-stone-400">{{ site.data.content.about_us.family_church.children }}</p>
        </div>
      </div>
 
    </div>
    </div>
  </div>
</div>