<div class="px-6 mx-auto mt-20 max-w-7xl sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none animate-children">
    <h2 class="text-3xl font-semibold tracking-tight sm:text-4xl lg:text-5xl dark:text-white font-display text-pretty text-stone-900 child">{{ site.data.content.breaking_bread.title }}</h2>
    <div class="flex flex-col gap-x-8 gap-y-20 mt-6 lg:flex-row">
      <div class="lg:flex-auto lg:w-full lg:max-w-2xl">
        <h3 class="text-xl font-semibold tracking-tight sm:text-2xl dark:text-white font-display text-stone-900 child ![--delay:0.25s]">{{ site.data.content.breaking_bread.lords_supper.title }}</h3>
        <p class="mt-6 text-lg text-stone-600 sm:text-xl/8 dark:text-stone-300 child ![--delay:0.35s]">{{ site.data.content.breaking_bread.lords_supper.description }}</p>
        <p class="mt-6 text-sm text-stone-700 sm:text-base/7 dark:text-stone-400 child ![--delay:0.45s]">{{ site.data.content.breaking_bread.lords_supper.details }}</p>
        <p class="mt-6 text-sm text-stone-700 sm:text-base/7 dark:text-stone-400 child ![--delay:0.55s]">{{ site.data.content.breaking_bread.lords_supper.practice }}</p>

        <h3 class="mt-8 text-xl font-semibold tracking-tight sm:mt-10 sm:text-2xl dark:text-white font-display text-stone-900 child ![--delay:0.65s]">{{ site.data.content.breaking_bread.meals.title }}</h3>
        <p class="mt-6 text-sm text-stone-700 sm:text-base/7 dark:text-stone-400 child ![--delay:0.75s]">{{ site.data.content.breaking_bread.meals.description }}</p>
      </div>
    </div>
  </div>
</div>