<div class="mx-auto mt-20 max-w-7xl px-6 sm:mt-32 lg:px-8">
  <div class="mx-auto max-w-2xl animate-children lg:mx-0 lg:max-w-none">
    <h2 id="breaking-bread-heading" class="child font-display text-3xl font-semibold tracking-tight text-pretty text-stone-900 sm:text-4xl lg:text-5xl dark:text-white">{{ site.data.content.breaking_bread.title }}</h2>
    <div class="mt-8 grid grid-cols-1 gap-x-16 gap-y-12 lg:grid-cols-2 lg:divide-x lg:divide-stone-200 dark:lg:divide-stone-700">
      <div>
        <h3 class="child font-display text-xl font-semibold tracking-tight text-stone-900 ![--delay:0.25s] sm:text-2xl dark:text-white">{{ site.data.content.breaking_bread.lords_supper.title }}</h3>
        <p class="child mt-6 text-lg text-stone-600 ![--delay:0.35s] sm:text-xl/8 dark:text-stone-300">{{ site.data.content.breaking_bread.lords_supper.description }}</p>
        <p class="child mt-6 text-sm text-stone-700 ![--delay:0.45s] sm:text-base/7 dark:text-stone-400">{{ site.data.content.breaking_bread.lords_supper.details }}</p>
        <p class="child mt-6 text-sm text-stone-700 ![--delay:0.55s] sm:text-base/7 dark:text-stone-400">{{ site.data.content.breaking_bread.lords_supper.practice }}</p>
      </div>
      <div class="lg:pl-16">
        <h3 class="child font-display text-xl font-semibold tracking-tight text-stone-900 ![--delay:0.45s] sm:text-2xl dark:text-white">{{ site.data.content.breaking_bread.meals.title }}</h3>
        <p class="child mt-6 text-sm text-stone-700 ![--delay:0.55s] sm:text-base/7 dark:text-stone-400">{{ site.data.content.breaking_bread.meals.description }}</p>
      </div>
    </div>
  </div>
</div>
