<header role="banner" class="relative isolate">
  <svg aria-hidden="true" class="absolute inset-x-0 top-0 w-full transform-gpu -z-10 h-[64rem] stroke-stone-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)] dark:stroke-white/3">
    <defs>
      <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-stone-50 dark:fill-stone-800">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" stroke-width="0" />
  </svg>
  <div aria-hidden="true" class="overflow-hidden absolute top-0 right-0 left-1/2 -ml-24 transform-gpu lg:ml-24 xl:ml-48 -z-10 blur-3xl dark:hidden">
    <div style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)" class="bg-gradient-to-tr opacity-25 aspect-[801/1036] w-[50.0625rem] from-saints-400 to-saints-700"></div>
  </div>
  <div class="overflow-hidden relative z-20">
    <div class="px-6 pt-24 pb-32 mx-auto max-w-7xl sm:pt-40 lg:px-8 lg:pt-32 animate-children">
      <div class="gap-x-14 mx-auto max-w-2xl lg:flex lg:items-center lg:mx-0 lg:max-w-none">
        <div class="relative w-full lg:max-w-xl xl:max-w-2xl lg:shrink-0">
          <h1 itemprop="headline name" class="text-4xl font-semibold tracking-tight sm:text-5xl lg:text-6xl xl:text-6xl child [&_span]:![--delay:.1s] [&_span]:![--translate-y:-0.5rem] ![--translate-y:0.25rem] dark:text-white font-display text-pretty text-stone-950 [&_span]:text-2xl [&_span]:sm:text-3xl [&_span]:md:text-4xl [&_span]:lg:text-5xl [&_span]:xl:text-4xl [&_span]:text-saints-700/70 [&_span]:dark:text-saints-300/80 grid gap-1">{{ site.data.content.header.title }}</h1>
          <div class="flex flex-col gap-y-3 mt-6 sm:flex-row sm:gap-y-0 sm:gap-x-6 child ![--delay:0.15s] ![--translate-y:0.25rem]">
            <div class="flex gap-x-2 items-center text-sm text-stone-700 dark:text-stone-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 size-4 text-saints-500 dark:text-stone-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25s-7.5-4.108-7.5-11.25a7.5 7.5 0 1 1 15 0Z" />
              </svg>
              <a href="https://maps.google.com/?q={{ site.data.content.header.address | replace: ' ', '+' | replace: ',', '%2C' }}" class="transition-colors duration-200 ease-out dark:hover:text-white hover:text-stone-900" target="_blank" rel="noopener external" itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{ site.data.content.header.address }}</span>
              </a>
            </div>
            <div class="flex gap-x-2 items-center text-sm text-stone-700 dark:text-stone-300">
              <svg class="flex-shrink-0 size-4 text-saints-500 dark:text-stone-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
              <time>{{ site.data.content.header.service_time }}</time>
            </div>
          </div>
          <p itemprop="description" class="mt-6 text-lg text-stone-600 text-balance sm:text-xl/8 dark:text-stone-300 child ![--translate-y:0.25rem] ![--delay:0.25s]">{{ site.data.content.header.description }}</p>
          
          {% include button-group.html type="visit_contact" container_class="grid grid-cols-2 gap-3 mt-8 sm:flex child ![--delay:0.35s]" %}
        </div>
        <div role="img" aria-label="Church community fellowship photos" class="flex gap-8 justify-end mt-14 sm:justify-start sm:pl-20 sm:-mt-44 lg:flex-shrink-0 lg:pl-0 lg:mt-0">
          <div class="flex-none pt-32 ml-auto flex flex-col gap-8 w-44 sm:pt-80 sm:ml-0 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
            {% include responsive-image.html name="fellowship-mothers" alt_key="fellowship.mothers" class="object-cover w-full rounded-xl shadow-lg aspect-[2/3] bg-stone-900/5 dark:bg-stone-700/5" container_class="relative" delay="0.35" %}
          </div>
          <div class="flex-none mr-auto flex flex-col gap-8 w-44 sm:pt-52 sm:mr-0 lg:pt-36">
            {% include responsive-image.html name="fellowship-hug" alt_key="fellowship.hug" class="object-cover w-full rounded-xl shadow-lg aspect-[2/3] bg-stone-900/5 dark:bg-stone-700/5" container_class="relative" delay="0.25" child_class="![--translate-y:-1rem]" %}
            {% include responsive-image.html name="fellowship-kitchen" alt_key="fellowship.kitchen" class="object-cover w-full rounded-xl shadow-lg aspect-[2/3] bg-stone-900/5 dark:bg-stone-700/5" container_class="relative" delay="0.45" %}
          </div>
          <div class="flex-none pt-32 flex flex-col gap-8 w-44 sm:pt-0">
            {% include responsive-image.html name="fellowship-mother-baby" alt_key="fellowship.mother_baby" class="object-cover w-full rounded-xl shadow-lg aspect-[2/3] bg-stone-900/5 dark:bg-stone-700/5" container_class="relative" delay="0.40" %}
            {% include responsive-image.html name="fellowship-men" alt_key="fellowship.men" class="object-cover w-full rounded-xl shadow-lg aspect-[2/3] bg-stone-900/5 dark:bg-stone-700/5" container_class="relative" delay="0.75" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>