<div class="mx-auto -mt-24 max-w-7xl px-6 sm:-mt-8 lg:px-8 xl:-mt-16">
  <div class="pointer-events-none absolute inset-0 -z-10 overflow-hidden">
    <div class="from-saints-100 to-saints-300/5 absolute inset-0 bg-gradient-to-br via-transparent opacity-40 dark:hidden"></div>
  </div>
  
  <div class="relative mx-auto max-w-2xl animate-children lg:mx-0 lg:max-w-none">
    <h2 id="mission-heading" class="child font-display text-3xl font-semibold tracking-tight text-pretty text-stone-900 ![--delay:.15s] sm:text-4xl lg:text-5xl dark:text-white">{{ site.data.content.mission.title }}</h2>
    <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
      <div class="child ![--delay:.3s] lg:w-full lg:max-w-2xl lg:flex-auto">
        <blockquote cite="Acts 2:42-47" class="border-saints-500/40 dark:border-saints-500/30 [&_span]:text-saints-600 dark:[&_span]:text-saints-400 border-l-2 pl-6 text-lg text-stone-600 sm:text-xl/8 dark:text-stone-300 [&_span]:font-medium [&_span]:underline">{{ site.data.content.mission.passage_html }}</blockquote>
      </div>
      <div class="child ![--delay:.35s] lg:flex lg:flex-auto lg:justify-end">
        <!-- Modal is included in the main layout, not here -->
      </div>
    </div>
  </div>
</div>