{% assign preacher = site.data.preachers | where: "key", include.preacher | first %}
{% unless preacher %}
  {% assign preacher = site.data.preachers | first %}
{% endunless %}
<picture class="block">
  <source srcset="/assets/images/{{ preacher.image }}.avif" type="image/avif">
  <source srcset="/assets/images/{{ preacher.image }}.webp" type="image/webp">
  <img
    src="/assets/images/{{ preacher.image }}.jpg"
    alt="{{ preacher.name }}"
    class="object-cover mx-auto {% if include.class %}{{ include.class }}{% else %}size-32 rounded-full{% endif %} ring-4 transition-transform hover:scale-105 ring-saints-400/20 will-animate var(--animation-fast) var(--smooth-bezier) dark:ring-saints-700/20"
    width="{% if include.class %}64{% else %}128{% endif %}"
    height="{% if include.class %}64{% else %}128{% endif %}"
    loading="lazy"
  />
</picture>
