<picture class="block">
  <source srcset="/assets/images/pastor.avif" type="image/avif">
  <source srcset="/assets/images/pastor.webp" type="image/webp">
  <img 
    src="/assets/images/pastor.jpg" 
    alt="{{ site.data.content.images.alt_text.pastor }}" 
    class="object-cover mx-auto w-16 h-16 rounded-full ring-4 transition-transform hover:scale-105 ring-saints-400/20 will-animate var(--animation-fast) var(--smooth-bezier) dark:ring-saints-700/20"
    width="64" 
    height="64"
    loading="lazy"
  />
</picture>