<!-- Section Break - Mobile Only -->
<div class="px-6 mx-auto mt-16 max-w-7xl sm:mt-24 lg:hidden lg:px-8">
  <div class="relative">
    <div class="flex absolute inset-0 items-center">
      <div class="w-full border-t border-saints-200 dark:border-saints-800"></div>
    </div>
    <div class="flex relative justify-center">
      <div class="px-4 bg-saints-white dark:bg-saints-black">
        <div class="flex justify-center items-center rounded-full size-3 bg-saints-400/30 dark:bg-saints-600/30">
          <div class="rounded-full size-1.5 bg-saints-500 dark:bg-saints-400"></div>
        </div>
      </div>
    </div>
  </div>
</div>