<!-- Homepage JSON-LD @graph: WebPage referencing baseline org + website entities -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebPage",
      "@id": "{{ site.url }}/#webpage",
      "url": "{{ site.url }}/",
      "name": "{{ site.title }}",
      "description": "{{ site.description }}",
      "isPartOf": { "@id": "{{ site.url }}/#website" },
      "about": { "@id": "{{ site.url }}/#org" },
      "publisher": { "@id": "{{ site.url }}/#org" },
      "breadcrumb": {
        "@type": "BreadcrumbList",
        "@id": "{{ site.url }}/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "{{ site.url }}"
          }
        ]
      },
      "inLanguage": "en-US"
    }
  ]
}
</script>
